[Service]
ExecStart=/usr/local/bin/nodescan
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodescan
User=pi
Group=pi
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
